/* Code to create a modal box using CSS */
/* Taken from a w3schools article */
/* Accessed 21 July */
/* https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    display: flex;
    color: var(--main-color);
}

.modal-title {
    margin: 0;
    font-size: 1.8em;
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--font-color);
    margin: 20vh auto;
    padding: 5vh 5vw;
    border: 1px solid #888;
    width: 50vw;
    border-radius: 10px;
    text-align: left;
}

/* The Close Button */
.close-modal {
    color: #aaa;
    font-size: 1.8em;
    font-weight: bolder;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* End of referenced code */