.parameter-form {
    margin-top: 5vh;
}

.parameter-container {
    margin: 3vh auto;
    display: flex;
    padding: 2vh 2vw;
    border-radius: 5px;
    background-color: var(--tertiary-color);
}

.parameter-name {
    font-size: 1.2em;
}

.parameter-input {
    margin-left: auto;
    border-radius: 5px;
    border-style: none;
}

